<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid justify-content-between align-items-center">
    <%# COLLAPSE BTN %>
    <div class="btn-heart d-flex align-items-center">
       <span class="navbar-toggler-icon me-2"></span>
       <i class="fa-regular fa-heart"></i>
    </div>
    <%# TITLE %>
    <%= link_to root_path, class: "navbar-brand me-0" do %>
      <h1>HAILWYDYS</h1>
    <% end %>
    <%# SEARCH AND BASKET %>
    <div class="search-basket">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-bag-shopping ms-2"></i>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
